h1 {
  font-size: 50px; }

.main__content {
  min-width: 320px;
  min-height: 100vh;
  background-color: whitesmoke; }

.main__nav {
  width: 100%;
  display: flex; }

.nav__it {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  flex: 1;
  margin-left: 10%;
  margin-top: 2%; }
  .nav__it:hover {
    text-decoration: none; }
